extends ../base
include ../mixins/memo

block content
    div
    form(method="GET")
        input(name="keyword",placeholder="🪄검색해주세요",type="text",required)
        input(type="submit",value="검색")

    div
        each memoData in memo
            +memo(memoData)